@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.logo {
  font-family: 'Arizonia', cursive;
}

.transitioning {
  transition: all 0.5s ease-in-out;
}

.centre {
  @apply flex items-center justify-center
}

.just-between {
  @apply flex items-center justify-between
}

.centre-items {
  @apply flex items-center
}

.centre-justify {
  @apply flex justify-center
}

.form-title {
  @apply text-center pb-4 logo text-main text-4xl;
}

.input-wrapper {
  @apply flex flex-col gap-3 mb-3 text-grey-1;
}

.input-field {
  @apply px-3 py-2 outline-none border border-grey-2 focus:border-grey-1 transitioning
}

.outline-btn {
  @apply py-2 rounded text-center border-grey-1 border-2 text-grey-1 uppercase font-medium hover:bg-main hover:text-light hover:border-main transitioning;
}

.main-btn {
  @apply py-2 rounded text-center border-light border-2 text-light uppercase font-medium hover:bg-light hover:text-main transitioning;
}

.main-link {
  @apply text-3xl text-light hover:text-main-light cursor-pointer transitioning
}
